body {
  font-family: sans-serif;
  padding-top: 100px;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
img {
  display: block;
}
/* reset end */
/**
  |============================
  | Block model
  |============================
*/
/* html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */

.section {
  border: 2px solid red;
  /* outline-offset: -2px; */
}
.text {
  /* width: 400px; */
  /* min-width: 200px; */
  /* max-width: 600px;
  min-height: 80px;
  max-height: 240px; */

  padding: 30px;

  /* margin: 30px 50px; */
  /* margin-right: auto;
  margin-left: auto; */

  margin: 0 auto;

  font-size: 20px;
  color: white;
  border: 2px dashed black;
  /* border-top: none; */
  /* border-top: 10px dashed lightgray;
  border-right: 15px dotted blueviolet;
  border-bottom: 25px solid red;
  border-left: 5px solid transparent; */

  border-radius: 30px;

  background-color: lightgreen;
}

.text.one {
  margin-bottom: 50px;
}

.text.two {
  /* margin-top: -50px; */
  margin-bottom: 150px;

  background-color: rgba(32, 178, 170, 0.3);
}
.circle {
  width: 100px;
  height: 100px;

  margin: 10px auto;
  background-color: lightseagreen;

  border-radius: 50%;
}

/**
  |============================
  | Pseudo classes
  |============================
*/
.container {
  display: none;
  width: 800px;
  padding: 20px;
  margin: 0 auto;

  background-color: lightblue;
  border-radius: 10px;
}

.element {
  /* width: 150px; */
  height: 150px;

  font-size: 3em;
  line-height: 150px;
  color: white;
  text-align: center;

  border-radius: 10px;
  background-color: lightgreen;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
