body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* reset */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}
/* reset end */

body {
  padding-top: 100px;
}

/**
  |============================
  | Flexbox layout
  |============================
*/
.flex-container,
.team-list,
.gallery-list {
  width: 800px;
  /* min-height: 600px; */
  padding: 20px;
  margin: 0 auto;

  background-color: lightblue;
  border-radius: 10px;
}

.flex-element,
.team-item,
.gallery-item {
  width: 150px;
  height: 150px;

  font-size: 3em;
  line-height: 150px;
  color: white;
  text-align: center;

  border-radius: 10px;
  background-color: lightgreen;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.team-list {
  background-color: blueviolet;
}
.team-item {
  background-color: lightseagreen;
}
/**
  |============================
  | Flexbox properties
  |============================
*/

.flex-container {
  /* display: flex;
  flex-wrap: wrap;
  gap: 26px; */

  /* justify-content: space-between; */

  /* Default properties */
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  /* align-items: stretch; */
  /* align-content: stretch; */
  /* flex-wrap: nowrap; */
}

.flex-element {
  /* flex-basis: calc((100% - 26px * 4) / 5); */

  /* Default properties */
  /* flex-basis: 200px;
  flex-shrink: 1;
  flex-grow: 0; */
}

/* .team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.team-item {
  flex-basis: calc((100% - 40px * 3) / 4);
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.gallery-item {
  flex-basis: calc((100% - 60px * 2) / 3);
} */
/**
  |============================
  | Flex grid
  |============================
*/
:root {
  --indent: 20px;
  --items: 3;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/* Setup for containers */
.team-list {
  --items: 4;
  --indent: 40px;
}
.gallery-list {
  --items: 5;
  --indent: 10px;
}
